
.cabecalho{
    background-color: rgb(251, 153, 16);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.logo {
    width: -15%;
}
        
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 25px;
}
.manga{
    width: 50%;
}

.liv_img {
    width: 50%;
}
.livraria {
    background-image: linear-gradient(#424242 #9593)